@page "/about"

<div class="text-container">
    <p>This web application collects and manages meteorological data from various sources.</p>
    <p>It currently only has one source available for demonstration purposes.</p>
    <p>However, you can easily add other data sources to this application, following the example of an existing instance.</p>
</div>
