@using WeatherCollector.Interfaces.Repositories;
@using WeatherCollector.Domain;
@inject IRepository<Source> _repository;

@if (_isOpened)
{
    <div class="modal-container">
        <div class="modal">
            <div class="content">
                <header>
                    <h2>Create a new source</h2>
                    <i class='bx bx-x' @onclick="Close"></i>
                </header>
                <EditForm Model="_newSourceModel" OnValidSubmit="HandleSubmit">
                    <div class="field">
                        <label>Name</label>
                        <InputText @bind-Value="_newSourceModel.Name" />
                    </div>
                    <div class="field">
                        <label>Details</label>
                        <InputTextArea @bind-Value="_newSourceModel.Details" />
                    </div>
                    <button type="submit">Create</button>
                </EditForm>
            </div>
        </div>
    </div>
}


@code {
    private Source _newSourceModel = new();

    [Parameter]
    public EventCallback<Source> SourceCreated { get; set; }

    private bool _isOpened;

    public void Open() => _isOpened = true;

    public void Close()
    {
        _isOpened = false;
        _newSourceModel = new();
    }

    private async Task HandleSubmit()
    {
        var createdSource = await _repository.Create(_newSourceModel);
        if (createdSource is null) return;

        await OnSourceCreated(createdSource);
        Close();
    }

    private Task OnSourceCreated(Source source) => SourceCreated.InvokeAsync(source);
}