@using WeatherCollector.Interfaces.Repositories;
@using WeatherCollector.Domain;
@inject IRepository<Source> _repository;

@if (_isOpened)
{
    <div class="modal-container">
        <div class="modal">
            <div class="content">
                <header>
                    <h2>Updathe the source</h2>
                    <i class='bx bx-x' @onclick="Close"></i>
                </header>
                <EditForm Model="Source" OnValidSubmit="HandleSubmit">
                    <div class="field">
                        <label>Name</label>
                        <InputText @bind-Value="Source.Name" />
                    </div>
                    <div class="field">
                        <label>Details</label>
                        <InputTextArea @bind-Value="Source.Details" />
                    </div>
                    <button type="submit">Update</button>
                </EditForm>
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    [EditorRequired]
    public Source Source { get; set; } = new();

    [Parameter]
    public EventCallback<Source> SourceUpdated { get; set; }

    private bool _isOpened;

    public void Open() => _isOpened = true;

    public void Close()
    {
        _isOpened = false;
        Source = new();
    }

    private async Task HandleSubmit()
    {
        var updatedSource = await _repository.Update(Source);
        if (updatedSource is null) return;

        await OnSourceUpdated(updatedSource);
        Close();
    }

    private Task OnSourceUpdated(Source source) => SourceUpdated.InvokeAsync(source);
}