<nav class="sidebar">
    <header>
        <div class="content">
            <span class="logo">
                <img src="/logo.jpg" alt="Logo"/>
            </span>

            <div class="text text-header">
                <span class="title">Weather Collector</span>
                <span class="subtitle">Management</span>
            </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <div class="menu-links">
                <a href="#" class="nav-link">
                    <i class="bx bx-analyse icon"></i>
                    <span class="text text-nav">Data Soruces</span>
                </a>
                <a href="#" class="nav-link">
                    <i class='bx bx-network-chart icon'></i>
                    <span class="text text-nav">Data Values</span>
                </a>
            </div>
        </div>

        <div class="mode">
            <div class="icons">
                <i class="bx bx-moon icon moon"></i>
                <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="text text-mode">Dark Mode</span>
            <div class="toggle-switch">
                <span class="switch"></span>
            </div>
        </div>
    </div>
</nav>